.logo-icon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #ccc;
    background-image: url(https://pin.it/44mo1grTq);
    background-size: cover;
}

.main-header {
   display: flex;
    align-items: center;
    justify-content: space-between;
}
